<launch>
    <node name="cameras" pkg="navigation_launch" type="cameras.py" />
    <node name="gps_node" pkg="navigation_launch" type="gps_node.py" />
    <node name="guidance" pkg="navigation_launch" type="guidance.py" />
    <node name="lidar" pkg="navigation_launch" type="lidar.py" />
    <node name="nav" pkg="navigation_launch" type="nav.py" />
</launch>

